html {
  width: 300px;
  height: 600px;
  font-size: 16px;
  overflow: hidden;
}

.size_indicator {
    background-color: rgb(0, 4, 255);
}

.scene_2 {
  flex-direction: column-reverse !important;
  align-items: center !important;
}

.text_content_container {
  width: 87%;
  height: 26rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.inner_text_content_container {
  width: 90% !important;
}

.logo_container {
  width: 100%;
  height: 2.25rem;
}
/*
.cta_container {
  padding: 0.5rem 1.8rem;
  padding: 0.4rem 1.3rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
} */

.cta_container {
  padding: 0.43rem 1.6rem;
  border-radius: 1.5rem;
}

.image_content_container {
  height: 21rem;
  width: 100%;
}

.background_image_container {
  width: 100%;
  height: 100%;
}

.sticker_container {
  /*right: 2.5rem;
  top: 11.5rem;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  transform: rotate(10deg); */
  
 /* right: 1.6rem;
  top: 12rem;
  width: 6rem;
  height: 6rem;*/
  padding: 0.5rem;
  transform: rotate(10deg);
  
      right: 2.5rem;
    top: 12rem;
    width: 5rem;
    height: 5rem;
    
    font-size: 13.5px;
}

.frame_container {
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.frame_container::before {
  height: 120%;
  width: 120%;
  border-radius: 2rem;
  border: 2px solid white;
}

.card_image_container {
  width: 7rem;
  height: 7rem;
  top: 10rem;
  left: 2rem;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' START */

.topRoundedFrame .frame_container::before {
  top: 1.25rem;
  right: 1.25rem;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' START */

.bottomRoundedFrame .frame_container::before {
  bottom: 1.25rem;
  right: 1.25rem;
}

.bottomRoundedFrame .text_content_container {
  margin-bottom: 2.5rem;
  height: 23.5rem;
}

.bottomRoundedFrame.animated .card_image_container {
  width: 7rem;
  height: 7rem;
  top: 9rem;
  left: 1rem;
}

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' START */

.fullSurfaceColor .scene_2 {
  flex-direction: column !important;
}

.fullSurfaceColor .text_content_container {
  height: 14rem;
}

.fullSurfaceColor .cta_container {
  position: absolute;
  bottom: 2.25rem;
}
.fullSurfaceColor .disclaimer_text_1 {
  position: absolute;
  bottom: 0.5rem;
}

.fullSurfaceColor .logo_container {
  height: 3.1rem;
}

.fullSurfaceColor .sticker_container {
  /*left: unset;
  right: 1rem;
  top: 15.5rem;
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  transform: rotate(10deg); */
  
  left: unset;
  right: 1rem;
  top: 16rem;
  transform: rotate(10deg);
}

.fullSurfaceColor .card_image_container {
  width: 5rem;
  height: 5rem;
  top: 20rem;
  left: 1rem;
}

.animated.fullSurfaceColor .scene_2 {
  flex-direction: column !important;
}

.animated.fullSurfaceColor .text_content_container {
  height: 14rem;
}

.animated.fullSurfaceColor .cta_container {
  position: absolute;
  bottom: 2.25rem;
}
.animated.fullSurfaceColor .disclaimer_text_1 {
  position: absolute;
  bottom: 0.5rem;
}

.animated.fullSurfaceColor .logo_container {
  height: 3.1rem;
}

.animated.fullSurfaceColor .sticker_container {
  /*left: unset;
  right: 1rem;
  top: 15.5rem;
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  transform: rotate(10deg); */
  
  left: unset;
  right: 1rem;
  top: 16rem;
  transform: rotate(10deg);
}

.animated.fullSurfaceColor .card_image_container {
  width: 5rem;
  height: 5rem;
  top: 20rem;
  left: 1rem;
}
/*
.animated.fullSurfaceColor .scene_2 {
  justify-content: flex-end !important;
}

.animated.fullSurfaceColor .text_content_container {
  height: 100%;
}

.animated.fullSurfaceColor .logo_container {
  height: 3.1rem;
  margin-bottom: 13rem;
}

.animated.fullSurfaceColor .sticker_container {
  left: unset;
  right: 2.5rem;
  top: 13rem;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  transform: rotate(10deg);
}

.animated.fullSurfaceColor .card_image_container {
  width: 5rem;
  height: 5rem;
  top: 12rem;
  left: 1rem;
}
*/
/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' START */

.fullSurfaceColor.animated.objectGfx .image_content_container {
        position: absolute !important;
    bottom: 5rem !important;
    left: 0 !important;
    right: 0 !important;
    top: unset !important;
    margin: auto !important;
    height: 12rem !important;
    width: 87% !important;
}

.fullSurfaceColor .image_content_container {
        position: absolute !important;
    bottom: 5rem !important;
    left: 0 !important;
    right: 0 !important;
    top: unset !important;
    margin: auto !important;
    height: 12rem !important;
    width: 87% !important;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' END */

/* TEMPLATE VARIANT CLASS 'fullCanvas' START */
.fullCanvas .background_image {
    width: 100%;
    height: 162%;
    object-fit: cover;
    object-position: -1052px -371px;
}

.fullCanvas .text_content_container {
        width: 15rem;
    height: 2rem !important;
    z-index: 1000;
    position: absolute;
    bottom: 4.25rem;
    left: 2rem;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.fullCanvas .copy_text_2 {
    font-size: 23px;
}


/* TEMPLATE VARIANT CLASS 'fullCanvas' END */

/* ANIMATIONS START */

.animated .image_content_container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -webkit-animation: scale-down-top 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    2s both !important;
  animation: scale-down-top 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s both !important;
}

.animated .text_content_container {
  height: 300px;
}

/**
 * ----------------------------------------
 * animation scale-down-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-top {
  0% {
    height: 100%;
  }
  100% {
    height: 244px;
  }
}
@keyframes scale-down-top {
  0% {
    height: 100%;
  }
  100% {
    height: 244px;
  }
}
