html {
  width: 640px;
  height: 360px;
  /*font-size: 14px;*/
  font-size: 16px;
  overflow: hidden;
}

.size_indicator {
    background-color: rgb(0, 255, 89);
}

.text_content_container {
  width: 50%;
  height: 85%;
}

.inner_text_content_container {
  width: 70% !important;
}

.logo_container {
  width: 100%;
  height: 2.6rem;
}

.logo_container,
.inner_text_content_container,
.cta_container,
.disclaimer_text_1 {
  margin-left: 1.3rem;
}

.cta_container {
  padding: 0.43rem 1.6rem;
  border-radius: 1.5rem;
}

.image_content_container {
  height: 100%;
  width: 50%;
}

.background_image_container {
  width: 100%;
  height: 100%;
}

.sticker_container {
  left: 0;
  right: 0;
  margin: auto;
  top: 4rem;
  /*width: 5.25rem;
  height: 5.25rem;*/
  
      width: 6rem;
    height: 6rem;
  padding: 0.5rem;
  transform: rotate(10deg);
}

.frame_container {
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.frame_container::before {
  height: 120%;
  width: 120%;
  border-radius: 2rem;
  border: 2px solid white;
}

.card_image_container {
  width: 6rem;
  height: 6rem;
  bottom: 1.3rem;
  left: 0;
  right: 0;
  margin: auto;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' START */

.topRoundedFrame .frame_container::before {
  top: 1.3rem;
  right: 1.3rem;
}

.topRoundedFrame .text_content_container {
  height: 80%;
  margin-bottom: 1.3rem;
}

.topRoundedFrame .sticker_container {
  top: 5.6rem;
}

.topRoundedFrame .logo_container {
  height: 2.3rem;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' START */

.bottomRoundedFrame .frame_container::before {
  bottom: 1.3rem;
  right: 1.3rem;
}

.bottomRoundedFrame .text_content_container {
  height: 85%;
  margin-top: 0.8rem;
}

.bottomRoundedFrame .sticker_container {
  top: 4rem;
}

.bottomRoundedFrame .card_image_container {
  bottom: 2.6rem;
}

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' START */

.fullSurfaceColor .text_content_container {
  padding: 0rem 1.3rem;
}

.fullSurfaceColor .logo_container {
  height: 3rem;
}

.fullSurfaceColor .sticker_container {
  left: unset;
  right: 2.45rem;
  top: 2.45rem;
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  transform: rotate(10deg);
}

.fullSurfaceColor .card_image_container {
  right: 3rem;
  left: unset;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' START */

.fullSurfaceColor.objectGfx .background_image_container {
 /* width: 14rem;
  height: 14rem;
  position: absolute;
  bottom: 1.3rem;
  right: 6rem; */
  
  width: 18rem;
    height: 16rem;
    position: absolute;
    bottom: 0rem;
    right: 4rem;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' END */

/*.fullSurfaceColor.objectGfx.noSticker .background_image_container {
    width: 19rem;
    height: 18rem;
    position: absolute;
    bottom: 1.3rem;
    right: 3rem;
}*/

/* TEMPLATE VARIANT CLASS 'fullCanvas' START */

.fullCanvas .background_image {
    width: 212%;
    height: 100%;
    object-fit: cover;
    object-position: -331px -372px;
}

.fullCanvas .text_content_container {
        width: 20rem;
    height: 2rem !important;
    z-index: 1000;
    position: absolute;
    bottom: 2.25rem;
    left: 19.3rem;
    /* text-align: center; */
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.fullCanvas .copy_text_2 {
    font-size: 25px;
}

/* TEMPLATE VARIANT CLASS 'fullCanvas' END */
