html {
  width: 970px;
  height: 250px;
  /*font-size: 12px;*/
  font-size: 15px;
  overflow: hidden;
}

.size_indicator {
    background-color: rgb(234, 255, 0);
}


.text_content_container {
  width: 55%;
  height: 80%;
}

.logo_container {
  width: 100%;
  height: 2.4rem;
}

.logo_container,
.inner_text_content_container,
.cta_container,
.disclaimer_text_1 {
  margin-left: 2rem;
}

/*.cta_container {
  padding: 0.4rem 1.4rem;
  border-radius: 1.5rem;
  font-size: 1.3rem;
}*/

.cta_container {
  padding: 0.43rem 1.6rem;
  border-radius: 1.5rem;
}

.image_content_container {
  height: 100%;
  width: 45%;
}

.background_image_container {
  width: 100%;
  height: 100%;
}

.sticker_container {
  left: 29rem;
  top: 4.5rem;
 /* width: 7.2rem;
  height: 7.2rem;*/
      width: 6rem;
    height: 6rem;
  padding: 0.5rem;
  transform: rotate(10deg);
}

.frame_container {
  display: none !important;
}

.frame_container::before {
  display: none !important;
}

.card_image_container {
  width: 5.6rem;
  height: 5.6rem;
  bottom: 1.2rem;
  right: 21.6rem;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' START */

.topRoundedFrame .frame_container::before {
  display: none;
}

.topRoundedFrame .scene_2 {
  align-items: center !important;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' START */

.bottomRoundedFrame .frame_container::before {
  display: none;
}

.bottomRoundedFrame .scene_2 {
  align-items: center !important;
}

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' START */

.fullSurfaceColor .text_content_container {
  padding: 0rem 1.2rem;
}

.fullSurfaceColor .logo_container {
  height: 2.8rem;
}

.fullSurfaceColor .sticker_container {
  left: unset;
  right: 4.8rem;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0.5rem;
  transform: rotate(10deg);
}

.fullSurfaceColor .card_image_container {
  right: 32.4rem;
  left: unset;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' START */

.fullSurfaceColor.objectGfx .background_image_container {
  /*width: 18.4rem;
  height: 14.4rem;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 12.8rem; */
  
      width: 20.4rem;
    height: 15.4rem;
    position: absolute;
    bottom: 0;
    right: 11.8rem;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' END */

/* TEMPLATE VARIANT CLASS 'fullCanvas' START */

.fullCanvas .background_image {
    width: 139%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

.fullCanvas .text_content_container {
        width: 20rem;
    height: 2rem;
    z-index: 1000;
    position: absolute;
    bottom: 1.5rem;
    left: 1.9rem;
    /* text-align: center; */
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.fullCanvas .inner_text_content_container {
    margin: 0 !important;
}


.fullCanvas .copy_text_2 {
    font-size: 25px;
}

/* TEMPLATE VARIANT CLASS 'fullCanvas' END */
