:root {
  --turqoise: rgb(2, 163, 164);
  --turkiz: rgb(2, 163, 164);
  --teal: rgb(2, 163, 164);
  --pink: rgb(235, 76, 121);
  --peach: rgb(235, 76, 121);
  --orange: rgb(255, 97, 49);
  --darkOrange: rgb(210, 82, 0);
  --blue: rgb(40, 112, 237);
  --stone: rgb(36, 83, 117);
  --darkBlue: rgb(36, 83, 117);
  --purple: rgb(113, 28, 122);
  --aubergine: rgb(113, 28, 122);
  --green: rgb(12, 180, 63);
  --apple: rgb(12, 180, 63);
  --applegreen: rgb(12, 180, 63);
  --forest: rgb(2, 134, 97);
}

h1,
p {
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--blue);
  color: white;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: hidden;
}

.scene_2,
.scene_1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.scene_1 {
  z-index: 1000;
}

.text_content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.inner_text_content_container {
    width: 85%;
}

.logo_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.cta_container {
  background-color: var(--orange);
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1000;
}

.cta_container:hover {
 background-color: var(--darkOrange);
  box-shadow: 0 0.25rem 0.75rem -0.25rem rgba(0, 0, 0, 0.6);
}

.background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.background_image_2 {
  object-fit: contain;
  display: none;
}
.card_image_container {
  position: absolute;
}
.background_image_3 {
  object-fit: contain;
}

.sticker_container {
  position: absolute;
  background-color: var(--pink);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.sticker_image_1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.frame_container {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  transition: all 0.5s;
}

.frame_container::before {
  content: "";
  display: none;
  position: absolute;
}

/* Preloader styles */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgb(40, 112, 237);*/ /* Fallback blue */
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-out;
}
#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}
#preloader svg {
  width: 40px;
  height: auto;
}
#preloader .s-outline {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}
#preloader .s-fill {
  fill: #fff;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.3s ease-out;
}

/* Fill animation */
@keyframes fillUp {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

#preloader .s-fill {
  fill: #fff;
  clip-path: inset(100% 0 0 0);
  animation: fillUp 1.5s ease-out forwards;
}

/* TEMPLATE VARIANT CLASS 'topRoundedFrame' START */
.topRoundedFrame .frame_container::before {
  display: block;
}

.topRoundedFrame .scene_2 {
  align-items: flex-end;
}
/* TEMPLATE VARIANT CLASS 'topRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' START */

.bottomRoundedFrame .frame_container::before {
  top: auto;
  display: block;
}

.bottomRoundedFrame .scene_2 {
  align-items: flex-start;
}

/* TEMPLATE VARIANT CLASS 'bottomRoundedFrame' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' START */

.fullSurfaceColor .image_content_container {
  display: none;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor' END */

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' START */

.fullSurfaceColor.objectGfx .image_content_container {
  display: flex;
}

.fullSurfaceColor.objectGfx .background_image_1 {
  display: none;
}

.fullSurfaceColor.objectGfx .background_image_2 {
  display: block;
}

.fullSurfaceColor.objectGfx .background_image {
  object-fit: contain;
}

/* TEMPLATE VARIANT CLASS 'fullSurfaceColor objectGfx' END */

/* TEMPLATE VARIANT CLASS 'video' START */

video {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video video {
  display: block;
}

.video .background_image_1 {
  display: none;
}

/* TEMPLATE VARIANT CLASS 'video' END */

/* TEMPLATE VARIANT CLASS 'fullCanvas' START */

.fullCanvas .logo_container,
.fullCanvas .headline_text_1,
.fullCanvas .copy_text_1,
.fullCanvas .cta_container,
.fullCanvas .disclaimer_text_1,
.fullCanvas .background_image_2,
.fullCanvas .background_video_1,
.fullCanvas .sticker_container,
.fullCanvas .background_image_3 {
    display: none;
}

.fullCanvas .image_content_container {
    -webkit-animation: none !important;
  animation: none !important;
  width: 100% !important;
  height: 100% !important;
}

.fullCanvas .copy_text_2 {
  -webkit-animation: none !important;
  animation: none !important;
}

.fullCanvas .scene_1 {
    z-index: 2000;
}

/* TEMPLATE VARIANT CLASS 'fullCanvas' END */

/* TEMPLATE VARIANT CLASS color modes START */

.turqoise main {
  background-color: var(--turqoise);
}
.turqoise .sticker_container {
  background-color: var(--aubergine);
}


.turkiz main {
  background-color: var(--turkiz);
}
.turkiz .sticker_container {
  background-color: var(--aubergine);
}

.teal main {
  background-color: var(--teal);
}
.teal .sticker_container {
  background-color: var(--aubergine);
}

.pink main {
  background-color: var(--pink);
}
.pink .sticker_container {
  background-color: var(--aubergine);
}
.pink .cta_container {
  background-color: var(--blue);
}
.pink .cta_container:hover {
 background-color: rgb(27 85 186);;
}

.peach main {
  background-color: var(--peach);
}
.peach .sticker_container {
  background-color: var(--aubergine);
}
.peach .cta_container {
  background-color: var(--blue);
}
.peach .cta_container:hover {
 background-color: rgb(27 85 186);;
}

.orange main {
  background-color: var(--orange);
}
.orange .sticker_container {
  background-color: var(--teal);
}
.orange .cta_container {
  background-color: var(--blue);
}
.orange .cta_container:hover {
 background-color: rgb(27 85 186);;
}

.stone main {
  background-color: var(--stone);
}

.purple main {
  background-color: var(--purple);
}
.purple .sticker_container {
  background-color: var(--teal);
}

.aubergine main {
  background-color: var(--aubergine);
}
.aubergine .sticker_container {
  background-color: var(--teal);
}

.green main {
  background-color: var(--green);
}
.green .sticker_container {
  background-color: var(--purple);
}

.apple main {
  background-color: var(--apple);
}
.apple .sticker_container {
  background-color: var(--purple);
}

.forest main {
  background-color: var(--forest);
}
.forest .sticker_container {
  background-color: var(--purple);
}

/* TEMPLATE VARIANT CLASS color modes END */

/* TEMPLATE VARIANT CLASS noSticker END */
.noSticker .sticker_container {
    display:  none !important;
}

/* TEMPLATE VARIANT CLASS noSticker END */

/* ----------------------------------------------
ANIMATIONS START
 * ---------------------------------------------- */

.scene_1 {
  -webkit-animation: fade-out 1s ease-out 1.5s both;
  animation: fade-out 1s ease-out 1.5s both;
}

.animated .image_content_container {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-animation: scale-down-right 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    2s both;
  animation: scale-down-right 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s both;
}

.animated .logo_container {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.2s
    both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.2s both;
}

.animated .headline_text_1 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    2.6s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.6s both;
}

.animated .copy_text_1 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    2.7s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.7s both;
}

.animated .copy_text_2 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    2.8s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.8s both;
}

.animated .cta_container {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    2.9s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 2.9s both;
}

.animated .disclaimer_text_1 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
}

.animated .sticker_container {
  -webkit-animation: scale-in-center 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 3.5s both;
  animation: scale-in-center 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 3.5s
    both;
}

.animated .card_image_container {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
}

/* topRoundedFrame */
.animated.topRoundedFrame .frame_container {
  clip-path: circle(0% at 0 0);
  animation-name: topFrame-animate-in;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
@keyframes topFrame-animate-in {
  0% {
    clip-path: circle(0% at 0 0);
  }
  100% {
    clip-path: circle(150% at 100% 0);
  }
}
/* bottomRoundedFrame */
.animated.bottomRoundedFrame .frame_container {
  clip-path: circle(0% at 0 100%);
  animation-name: bottomFrame-animate-in;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
@keyframes bottomFrame-animate-in {
  0% {
    clip-path: circle(0% at 0 100%);
  }
  100% {
    clip-path: circle(150% at 100% 100%);
  }
}

/* fullSurfaceColor */
.fullSurfaceColor .image_content_container {
  -webkit-animation: none !important;
  animation: none !important;
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-down-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-right {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
@keyframes scale-down-right {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(10deg);
    transform: scale(1) rotate(10deg);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(10deg);
    transform: scale(1) rotate(10deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
ANIMATIONS END
 * ---------------------------------------------- */
