/* ------------------------------------------- */
/* 300x600 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 22px;
}

#adContainer {
  width: 300px !important;
  height: 600px !important;
}

/* Adjust text container for taller format */
#textContainer {
  padding: 1.7rem;
  height:50%;
}

#logoWrapper > img {
  height: 4rem;
}



/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -774px -378px;
}

#image2Wrapper {
    top: 113px;
    left: 6px;
}
#image2Wrapper  > div {
  width: 160px;
  height: 230px;
}

#image6Wrapper {
  top: 200px;
  left: 97px;
}

/* Text format helpers */
.sizebr.br300x600 {
  display: inline-block;
}

.size-300x600 .text-300x600 {
  display: inline;
}
