/* ------------------------------------------- */
/* 300x600 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 20px;
}

#adContainer {
  width: 300px !important;
  height: 600px !important;
}

/* Adjust text container for taller format */
#textContainer {
  padding: 1.7rem;
  height:49%;
}

#logoWrapper > img {
  height: 70px;
}
.productHighlight #logoWrapper > img {
  height: 3.4rem;
}

#image2Wrapper {
  top: 100px;
  left: 0px;
}
#image2Wrapper  > div {
  width: 170px;
  height: 270px;
}

.productHighlight #image2Wrapper {
  top: 50px;
  left: 50px;
}
.productHighlight #image2Wrapper > div {
  width: 200px;
  height: 300px;
}


#image4Container {
  bottom: 283px;
  right:30px;
}

#image6Wrapper {
  top: 200px;
  left: 82px;
}

.productHighlight #image6Wrapper {
  top: 127px;
  left: 155px;
}
.productHighlight #image6Wrapper > div {
  width: 6.5rem;
  height: 6.5rem;
}

.model #image6Wrapper {
  top: 185px;
  left: 20px;
}
.model #image6Wrapper > div {
  width: 8rem;
  height: 8rem;
}

/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -774px -378px;
}

/* Text format helpers */
.sizebr.br300x600 {
  display: inline-block;
}

.size-300x600 .text-300x600 {
  display: inline;
}
