/* ------------------------------------------- */
/* 480x480 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */
html {
  font-size: 25px;
}

#adContainer {
  width: 480px !important;
  height: 480px !important;
}

#logoContainer {
  top: 0.1rem;
  left: 0.1rem;
}

#logoWrapper > img {
  height: 3.3rem;
}

#image2Wrapper {
  top: 90px;
  left: 66px;
}
#image2Wrapper  > div {
  width: 150px;
  height: 220px;
}

#image6Wrapper {
  top: 150px;
  left: 320px;
}


/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -1128px -640px;
}


/* Text format helpers */
.sizebr.br480x480 {
  display: inline-block;
}

.size-480x480 .text-480x480 {
  display: inline;
}
