/* ------------------------------------------- */
/* 480x300 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */
html {
  font-size: 18px;
}

#adContainer {
  width: 480px !important;
  height: 300px !important;
}

#logoContainer {
  top: 0.5rem;
  left: 0.5rem;
}

#logoWrapper > img {
  height: 3.5rem;
}
/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -385px -928px
}


/* Text format helpers */
.sizebr.br300x250 {
  display: inline-block;
}

.size-300x250 .text-300x250 {
  display: inline;
}
