/* ------------------------------------------- */
/* 480x480 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */
html {
  font-size: 20px;
}

#adContainer {
  width: 480px !important;
  height: 480px !important;
}

#logoContainer {
  top: 0.1rem;
  left: 0.1rem;
}

#logoWrapper > img {
  height: 95px;
}
.productHighlight #logoWrapper > img {
  height: 4rem;
}

#image2Wrapper {
  top: 20px;
  left: 296px;
}

#image2Wrapper  > div {
  width: 160px;
  height: 300px;
}

.productHighlight #image2Wrapper {
  top: 25px;
  left: 145px;
}
.productHighlight #image2Wrapper > div {
  width: 190px;
  height: 280px;
}

#image6Wrapper {
  top: 150px;
  left: 40px;
}

.productHighlight #image6Wrapper {
  top: 47px;
  left: 260px;
}
.productHighlight #image6Wrapper > div {
  width: 6.5rem;
  height: 6.5rem;
}


/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -1128px -640px;
}


/* Text format helpers */
.sizebr.br480x480 {
  display: inline-block;
}

.size-480x480 .text-480x480 {
  display: inline;
}
