/* ------------------------------------------- */
/* 500x280 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */
html {
  font-size: 18px;
}

#adContainer {
  width: 500px !important;
  height: 200px !important;
}

#logoContainer {
  top: 0.5rem;
  left: 0.5rem;
}

#logoWrapper > img {
  height: 3.5rem;
}

#textContainer {
  text-align: right;
  width:60%;
  height:100%;
  left:auto;
  right:0px;
}
#textContainer #headlineWrapper {
  width:70%;
  margin-left:30%;
}
#textContainer #copyWrapper1 {
  margin-left:40%;
  width:60%;
}

#buttonWrapper {
  /*margin-right:3rem;*/
  margin-bottom:0rem;
}
#buttonWrapper > span {
  display: inline-block;
}

#image2Wrapper {
  top: 25px;
  left: 160px;
}
#image2Wrapper  > div {
  width: 120px;
  height: 160px;
}

#image4Container {
  right: 10.2rem;
}

#image6Wrapper {
  top: 40px;
  left: 220px;
}

/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -1128px -378px;
}


/* Text format helpers */
.sizebr.br500x200 {
  display: inline-block;
}

.size-500x200 .text-500x200 {
  display: inline;
}
