/* ------------------------------------------- */
/* 500x280 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */
html {
  font-size: 16px;
}

#adContainer {
  width: 500px !important;
  height: 200px !important;
}

#logoContainer {
  top: 0px;
  left: 0px;
}

#logoWrapper > img {
  height: 60px;
}

#textContainer {
  text-align: right;
  width:60%;
  height:100%;
  left:auto;
  right:0px;
  padding: 1rem 1.5rem 1.8rem 1.5rem;
}

#textContainer #headlineWrapper {
  width:70%;
  margin-left:30%;
}
#textContainer #copyWrapper1 {
  margin-left:35%;
  width:65%;
}

#buttonWrapper {
  /*margin-right:3rem;*/
  margin-bottom:0rem;
}
#buttonWrapper > span {
  display: inline-block;
}

#image2Wrapper {
  top: 5px;
  left: 170px;
}
#image2Wrapper  > div {
  width: 120px;
  height: 205px;
}

.productHighlight #image2Wrapper {
  top: 25px;
  left: 100px;
}
.productHighlight #image2Wrapper > div {
  width: 125px;
  height: 185px;
}

#image4Container {
  right: 432px;
  bottom: 15px;
}
#image4Wrapper > div {
  width: 50px;
  height: 50px;
}
.productHighlight #image4Container {
  right: 252px;
  bottom: 20px;
}
.model #image4Container {
  right: 162px;
  bottom: 20px;
}

#image6Wrapper {
  top: 90px;
  left: 230px;
}

.productHighlight #image6Wrapper {
  top: 28px;
  left: 165px;
}
.productHighlight #image6Wrapper > div {
  width: 7.5rem;
  height: 7.5rem;
}

.model #image6Wrapper {
  top: 68px;
  left: 175px;
}
.model #image6Wrapper > div {
  width: 7.5rem;
  height: 7.5rem;
}


/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -1128px -378px;
}


/* Text format helpers */
.sizebr.br500x200 {
  display: inline-block;
}

.size-500x200 .text-500x200 {
  display: inline;
}
