/* ------------------------------------------- */
/* 720x1280 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 48px;
}

#adContainer {
  width: 720px !important;
  height: 1280px !important;
}

/* Adjust text container for taller format */
#textContainer {
  padding: 1.2rem 2.5rem 2rem 2.5rem;
}

#logoWrapper > img {
  height: 3.5rem;
}

#image2Wrapper {
  top: 320px;
  left: 50px;
}
#image2Wrapper  > div {
  width: 320px;
  height: 460px;
}

#image6Wrapper {
  top: 490px;
  left: 230px;
}

/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: 0px 0px;
}


/* Text format helpers */
.sizebr.br720x1280 {
  display: inline-block;
}

.size-720x1280 .text-720x1280 {
  display: inline;
}
