/* ------------------------------------------- */
/* 720x1280 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 45px;
}

#adContainer {
  width: 720px !important;
  height: 1280px !important;
}

/* Adjust text container for taller format */
#textContainer {
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.5rem 2.5rem;
  height: 46%;
}

#buttonWrapper {
  margin-bottom:0rem;
}

#logoWrapper > img {
  height: 3.5rem;
}

#image2Wrapper {
  top: 300px;
  left: 50px;
}
#image2Wrapper  > div {
  width: 320px;
  height: 480px;
}

.productHighlight #image2Wrapper {
  top: 100px;
  left: 100px;
}
.productHighlight #image2Wrapper > div {
  width: 500px;
  height: 700px;
}


#image4Container {
  bottom: 530px;
  right: 80px;
}

#image6Wrapper {
  top: 450px;
  left: 200px;
}

.productHighlight #image6Wrapper {
  top: 300px;
  left: 360px;
}
.productHighlight #image6Wrapper > div {
  width: 7rem;
  height: 7rem;
}

.model #image6Wrapper {
  top: 435px;
  left: 50px;
}
.model #image6Wrapper > div {
  width: 8rem;
  height: 8rem;
}


/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: 0px 0px;
}


/* Text format helpers */
.sizebr.br720x1280 {
  display: inline-block;
}

.size-720x1280 .text-720x1280 {
  display: inline;
}
