/* ------------------------------------------- */
/* 300x600 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 56px;
}

#adContainer {
  width: 720px !important;
  height: 1280px !important;
}

/* Adjust text container for taller format */
#textContainer {
  width:75%;
  padding: 1.5rem;
}

#logoWrapper > img {
  height: 3rem;
}

/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: 0px 0px;
}


/* Text format helpers */
.sizebr.br300x600 {
  display: inline-block;
}

.size-300x600 .text-300x600 {
  display: inline;
}
