/* ------------------------------------------- */
/* 970x250 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 26px;
}

#adContainer {
  width: 970px !important;
  height: 250px !important;
}
#logoContainer {
  top: 1.8rem;
  left: 1.5rem;
}

#logoWrapper > img {
  height: 4rem;
  display: block;
}

#textContainer {
  text-align: right;
  width:50%;
  height:100%;
  left:auto;
  right:0px;
  display: flex;
}
#textContainer > div {
  display: flex;
  flex-direction: column;
}
#textContainer #headlineWrapper {margin-top:auto;}
#textContainer #copyWrapper1 {margin-bottom:auto;}

#image2Wrapper {
  top: 25px;
  left: 350px;
}
#image2Wrapper  > div {
  width: 150px;
  height: 220px;
}

#image4Container {
  right: 10.2rem;
}

#image6Wrapper {
  top: 70px;
  left: 430px;
}

#buttonWrapper {
  width: max-content;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 0px;
}
#buttonWrapper > span {
  display: inline;
  /*margin-right: 3rem;*/
}	
/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -774px 0px;
}


/* Text format helpers */
.sizebr.br970x250 {
  display: inline-block;
}

.size-970x250 .text-970x250 {
  display: inline;
}
