/* ------------------------------------------- */
/* 970x310 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 24px;
}

#adContainer {
  width: 970px !important;
  height: 310px !important;
}

#logoContainer {
  top: 2rem;
  left: 2rem;
}

#logoWrapper > img {
  height: 5rem;
  display: block;
}

/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -774px 0px;
}


/* Text format helpers */
.sizebr.br300x250 {
  display: inline-block;
}

.size-300x250 .text-300x250 {
  display: inline;
}
