/* ------------------------------------------- */
/* 970x250 - Size specific overrides           */
/* Base styles are in main.css                 */
/* ------------------------------------------- */

html {
  font-size: 26px;
}

#adContainer {
  width: 970px !important;
  height: 250px !important;
}
#logoContainer {
  top: 5px;
  left: 5px;
}

#logoWrapper > img {
  height: 100px;
  display: block;
}

#textContainer {
  text-align: right;
  width:50%;
  height:100%;
  left:auto;
  right:0px;
  display: flex;
}
#textContainer > div {
  display: flex;
  flex-direction: column;
}
#textContainer #headlineWrapper {
  margin-top:auto;
  width:85%;
  margin-left:15%;
}
#textContainer #copyWrapper1 {
  margin-bottom:auto;
  margin-left:15%;
  width:85%;
}





#buttonWrapper {
  width: max-content;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 0px;
}
#buttonWrapper > span {
  display: inline;
  /*margin-right: 3rem;*/
}	

#image2Wrapper {
  top: 5px;
  left: 330px;
}
#image2Wrapper  > div {
  width: 180px;
  height: 260px;
}

.productHighlight #image2Wrapper {
  top: 20px;
  left: 250px;
}
.productHighlight #image2Wrapper > div {
  width: 140px;
  height: 230px;
}


#image4Container {
  right: 328px;
  bottom: 15px;
}
#image4Container div {
  width: 65px;
  height: 65px;
}

#image6Wrapper {
  top: 35px;
  left: 400px;
}
#image6Wrapper > div {
  width: 7.5rem;
  height: 7.5rem;
}

.productHighlight #image6Wrapper {
  top: 45px;
  left: 355px;
}
.productHighlight #image6Wrapper > div {
  width: 6.5rem;
  height: 6.5rem;
}

/* -----------------------------------------*/
/* positioning based on Image cropping  PSD */
/* -----------------------------------------*/
.campaignImage #backgroundContainer #imageWrapper div {
  background-size: initial;
  background-position: -774px 0px;
}


/* Text format helpers */
.sizebr.br970x250 {
  display: inline-block;
}

.size-970x250 .text-970x250 {
  display: inline;
}
