<!DOCTYPE html>
<html id="html">
  <head>
    <title>{{advert_name}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="advert_id" content="{{advert_id}}">
    <meta name="advert_mc" content="{{advert_mc}}">
    <meta name="advert_variant" content="{{advert_variant}}">
    <meta name="advert_name" content="{{advert_name}}" />
    <meta name="click_url" content="{{click_url}}">
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="[[css]]" />
  
  </head>
  <body data-advert-name="{{advert_name}}">
    {{headline_text_1}}
    {{copy_text_1}}
    {{background_image_1}}
  </body>
</html>
